@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  margin: 0 auto;
  font-family: 'Josefin Sans', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  max-height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
